<% if (locals.errors) { %>
    <ul>
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }); %>
    </ul>
<% } %>
<% if (locals.repeatError) {%>
    <h5><%= repeatError %></h5>
<% } %>