<header class="navBar-section">
    <% if (locals.name) {%>
        <h1 class="folder-header"> Folder: <%= name %> </h1>
    <% } %>
    <% if (locals.parentId) {%>
        <div class="library-links">
            <a href="/folder/create/<%= parentId %>">
                Add subfolder
            </a>
            <a href="/file/upload/<%= parentId %>">
                Upload File
            </a>
        </div>
        
    <% } %>
    
</header>