<aside class="sidebar-section">
    <div class="sidebar-container">
        <!-- work on building this... this will display
         folder options, from there we can develop
         folder/file queries -->
        <a href="/" class="home-link">
            Home
        </a>
        <% if (locals.homeFolder) {%>
            <a href="/folder/create/<%= homeFolder.id %>" class="add-folder-link">
                + New Folder
            </a>
            <% if (locals.children) {%>
                <% children.forEach(folder => { %>
                    <a href="/folder/library/<%= folder.id %>" class="sub-home-folder-link">
                        <%= folder.name %>
                    </a>
                <% }) %>
            <% } %>
        <% } %>
        
        <!-- might not need this: -->
        <div class="folders-container">
            <% if (locals.folders) { %>
                <!-- display folders here if the user has any -->
            <% } %>
        </div>
    </div>
</aside>