<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body>

    <% if (locals.user) {%>
        <%- include('partials/navBar.ejs') %>
        <%- include('partials/sidebar.ejs', { 
            homeFolder: homeFolder,
            children: children 
        }) %>
        <h2>Hi <%= user.firstName %></h2>

        <!-- include homeFolder contents here -->

    <% } else { %>
    <section class="main-section">
        <div class="home-section">
            
            <div class="home-screen-container">
                <div class="home-prompt">
                    <h2>Welcome to File Uploader</h2>
                    <div class="sign-in-up-box">
                        <a href="/user/signIn">Sign In</a>
                        Or
                        <a href="/user/signUp">Sign Up</a>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    <% } %>
</body>
</html>

