<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="homepage-section">
        <!-- start building this out in order to test
        authentication system -->
        <% if (locals.user) {%>
        <% } else { %>
            <div class="home-screen-container">
                <div class="home-prompt">
                    <h2>Welcome to File Uploader</h2>
                    <div class="sign-in-up-box">
                        <a href="/user/signIn">Sign In</a>
                        Or
                        <a href="/user/signUp">Sign Up</a>
                    </div>
                </div>
            </div>
        <% } %>
    </section>
</body>
</html>