.library-container {
    margin: 15px 0px;
    height: fit-content;
}

.back-to-parent-link {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    transition: all ease-in 200ms;
}

.back-to-parent-link:hover {
    color: rgb(157, 148, 251);
}

.back-to-parent-link > svg {
    transition: all ease-in 200ms;
}

.back-to-parent-link:hover svg {
    fill: rgb(157, 148, 251);
    stroke: rgb(157, 148, 251);
}

.empty-folder-message {
    margin-left: 15px;
}

.subfolders-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.folder-container {
    padding: 8px 10px;
    padding-left: 5px;
    margin: 0px 15px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    transition: all 250ms ease-out;
}

.file-container {
    padding: 8px 10px;
    padding-left: 5px;
    margin: 0px 15px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    transition: all 250ms ease-out;
}

.folder-container:hover, .file-container:hover {
    background-color: rgb(206, 210, 212);
}


.subfolder-link, .subfile-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
}

.edit-subfolder-link {
    height: fit-content;
}

.folder-container:hover .edit-subfolder-link > svg {
    visibility: visible;
}

.edit-subfolder-link > svg, .delete-file-link > svg {
    visibility: hidden;
}

.file-container:hover .delete-file-link > svg {
    visibility: visible;
}



