.library-container {
    margin: 25px 0px;
}

.subfolders-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.folder-container {
    padding: 8px 10px;
    padding-left: 35px;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    /* subtracts padding and border: */
    width: calc(100% - 47px);
}

.file-container {
    padding: 8px 10px;
    padding-left: 35px;
    background-color: rgb(218, 234, 204);
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    /* subtracts padding and border: */
    width: calc(100% - 47px);
}

.subfolder-link, .subfile-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
}

.edit-subfolder-link {
    height: fit-content;
}

/*  TMW 9/20: figure out how to make icons appear */

.fa-folder {
    /* display: inline-block; */
    height: 20px;
    width: 30px;
    z-index: 2;
    background-color: #acacac;
    
}