/* Log In */
.login-section, .sign-up-section {
    position: relative;
    display: flex;
    background-color: rgb(157, 148, 251);
    height: 100%;
    border-top-left-radius: 20px;
    font-family: "Noto Sans KR", sans-serif;
    box-shadow: -2px -2px 5px 0px grey;
}

.login-err-container {
    position: absolute;
    left: 145px;
    top: 45px;
    color: white;
    font-size: 24px;
}

.login-container {
    margin-left: 140px;
    margin-top: 140px;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20vw;
    min-width: 200px;
    padding: 15px;
    padding-left: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 0px grey;
}

.login-form > input {
    margin-bottom: 25px;
    width: 65%;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid rgb(157, 148, 251);
}

.login-button {
    display: block;
    position: relative;
    width: 80px;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
    transition: color 200ms linear;
    will-change: transform;
    border-radius: 20px;
    padding: 7px 0px;
}

.login-button::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(157, 148, 251);
    z-index: -1;
    opacity: 0;
    transform: scale(0.1);
    transform-origin: center center;
    border-radius: 20px;
    will-change: transform;
}

.login-button:hover {
    color: white;
}

.login-button:hover::before {
    opacity: 1;
    transform: scale(1);
    box-shadow: 1px 1px 2px 0px rgb(96, 96, 96);
    transition: all 200ms linear;
}

.signup-prompt-container {
    color: white;
    margin-left: 20px;
}

.signup-prompt-link {
    color: rgb(30, 66, 225);
    text-decoration: none;
}

.back-home-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
    transition: all ease-in 300ms;
}

.back-home-link:hover {
    color: blue;
}

.back-home-link > svg {
    transition: all ease-in 300ms;
}

.back-home-link:hover svg {
    fill: blue;
    stroke: blue;
}


/* Sign Up */
.signup-container {
    margin-left: 140px;
    margin-top: 145px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 0px grey;
}

.signup-form-header {
    margin-bottom: 5px;
    margin-top: 5px;
}

.sign-up-form input {
    padding: 4px 7px;
    border-radius: 10px;
    border: 1px solid rgb(157, 148, 251);
}

.full-name-section {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

#firstName {
    margin-right: 15px;
}

.user-account-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.user-account-section > input {
    width: 40%;
}

#username {
    margin-bottom: 10px;
}

.email-section > label {
    display: block;
}

.sign-up-button {
    width: 180px;
    padding: 5px 0px;
    align-self: center;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: none;
    box-sizing: border-box;
    transition: color 200ms linear;
    will-change: transform;
}

.sign-up-button::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(157, 148, 251);
    z-index: -1;
    opacity: 0;
    transform: scale(0.1);
    transform-origin: center center;
    border-radius: 20px;
    will-change: transform;
}

.sign-up-button:hover {
    color: white;
}

.sign-up-button:hover::before {
    opacity: 1;
    transform: scale(1);
    box-shadow: 1px 1px 2px 0px rgb(96, 96, 96);
    transition: all 200ms linear;
}

.signup-err-container {
    position: absolute;
    left: 145px;
    top: 20px;
    color: white;
    font-size: 19px;
}

.leave-signup-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    transition: all ease-in 300ms;
}

.leave-signup-link:hover {
    color: blue;
}

.leave-signup-link > svg {
    transition: all ease-in 300ms;
}

.leave-signup-link:hover svg {
    fill: blue;
    stroke: blue;
}