body, html {
    margin: 0;
    min-height: 100vh;
}

body {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 70px 1fr;
}

.navBar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* background-color: #492749; */
    grid-row: 1;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    gap: 20px;
}



.sidebar-section {
    grid-row: 1 / 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(157, 148, 251);
    padding-bottom: 20px;
    box-shadow: 2px 0px 10px 0px rgb(157, 157, 157);
}

.main-section {
    grid-column: 2;
    grid-row: 2;
}


/* sidebar */
.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

.sidebar-container a {
    text-decoration: none;
    color: black;
}

.home-link {
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
}

.home-subfolders-header {
    margin-bottom: 3px;
}

.home-subfolders-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    margin-right: 20px;
}

.sub-home-folder-link {
    display: flex;
    align-items: center;
}

.add-folder-link {
    display: flex;
    align-items: center;
    gap: 7px;
}

.add-folder-link > p {
    margin: 0px;
}

.upload-home-file-link {
    display: flex;
    align-items: center;
    gap: 7px;
}


.logout-link {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 19px;
}


/* navBar */
.navBar-section > h1 {
    margin-left: 40px;
}

.library-links {
    display: flex;
    margin-right: 30px;
    gap: 25px;
}

.library-links > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.add-subfolder-link, .add-subfile-link {
    display: flex;
    align-items: center;
    gap: 7px;
}


/* home */
.home-section {
    display: flex;
    background-color: rgb(157, 148, 251);
    height: 100%;
    border-top-left-radius: 20px;
}

.home-prompt {
    margin-left: 100px;
    margin-top: 170px;
    color: white;
}

.welcome-header {
    font-size: 60px;
}

.sign-in-up-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sign-in-up-box > a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: bold;
    transition: all ease-in 300ms;
}

.sign-in-up-box > a:hover {
    color: blue;
}
